@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    margin: 0;
    padding: 0;
}

/*header menú de navegación*/
header {
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 20px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-width: 100%;
    height: 110px;
    padding-left: 130px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    gap: 15px;
    padding-right: 65px;
    position: relative;
    z-index: 10;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    background-color: #FCA2A2;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: white;
    padding: 5px 17px;
    display: block;
    border-radius: 5px;
    text-decoration: none;
}

nav ul li a:hover {
    background: #EA7480;
}

.btn-contacto, .btn-terminos {
    background-color: #413235;
    font-family: "Fredoka", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color:white;
    border-radius: 9px;
    padding: 5px 17px;
    display: block;
    border-radius: 5px;
    text-decoration: none;
}

.btn-contacto:hover, .btn-terminos:hover {
    background-color: #635254;
}

.btn-cv {
    background-color: white;
    font-family: "Fredoka", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #EA7480;
    border-radius: 9px;
    border: 3px solid  #EA7480;
    padding: 9px 16px;
    margin-right: 0px;
    text-decoration: none;
}

/* Sección Servicios */
.seccion-servicios {
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 56px 0 60px;
  margin-top: 0;
}

.seccion-servicios h1 {
  color: #F2798F;
  font-family: 'Fredoka', sans-serif;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 60px;
  margin-top: -55px;
}

.seccion-servicios p {
  color: #413235;
  font-family: "Lora", serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 40px;
}

.swiper {
      width: 100%;
      height: 100%;
    }

.swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-pagination-bullet {
      width: 20px;
      height: auto !important;
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      color: #000;
      opacity: 1;
      background: rgba(0, 0, 0, 0.2);
    }

    .swiper-pagination-bullet-active {
      color: #fff;
      background: #F2798F;
    }

.tarjeta-trasera {
  background-color: white;
  width: 200px;
  height: 290px;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjeta {
  background-color: #F2798F;
  width: 180px;
  height: 190px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.tarjeta img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.tarjeta h2 {
  color: white;
  font-family: 'Fredoka', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}

.testimonio-texto p {
  color: white;
  font-family: "Lora", serif;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}

.swiper-pagination {
  margin-top: 20px;
  position: relative;
}

footer {
  width: 100%;
}

.contenedor-footer3 {
  background-color: #EA7480;
  max-width: 100%;
  height: auto;
  min-height: 125px;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
  box-sizing: border-box;
}

.logo-footer {
  display: flex;
  align-items: center;
}

.logo-footer img {
  width: 65px;
  padding-left: 140px;
}

.información-footer {
  text-align: center;
}

.información-footer p {
  font-family: "Lora", serif;
  font-size: 14px;
  font-weight: 600;
  color: white;
  margin: 3px 0;
}

.información-footer .copyright {
  font-weight: 700;
}

.iconos-redes-footer {
  display: flex;
  gap: 15px;
  padding-right: 140px;
  flex-direction: column;
}

.iconos-redes-footer a {
  display: block;
}

@media (max-width: 768px) {
  .tarjeta-trasera {
    height: auto;
  }
  .tarjeta {
    height: auto;
  }
}